@font-face{
font-family: 'Roboto', sans-serif;
src: url(../fonts/roboto/Roboto-Medium.ttf)
}
@font-face{
font-family: 'Roboto', sans-serif;
src: url(../fonts/roboto/Roboto-Regular.ttf)
}
@font-face{
font-family: 'Lato', sans-serif;
src: url(../fonts/lato/Lato-Regular.ttf)
}
@font-face{
font-family: 'Lato', sans-serif;
src: url(../fonts/lato/Lato-Bold.ttf)
}
/*common code*/
body{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
color: #8e8e8e;
}
/*common code*/
/*header start*/
.c_logo{
font-family: 'lato', sans-serif;
font-size: 30px;
font-weight: 400;
color: #333333!important;
text-transform: uppercase;
}
.c_menu{
font-family: 'lato', sans-serif;
font-size: 16px;
font-weight: 600;
color: #8e8e8e!important;
}
.c_menu ul{}
.c_menu ul li{}
.c_menu ul li a{
margin-left: 30px !important;
transition: 0.3s;
}
.c_menu ul li a:hover{
color: #333333 !important;
}
.c_search{
margin-left: 30px !important;
}
.c_btn{
color: #8e8e8e;
}
.c_btn::after{
border-top: 0;
}
.c_btn:hover{
color: #333333;
}
.c_btn:focus{
box-shadow: none;
}
.c_drdmenu[data-bs-popper] {
top: 60px;
left: -350px;
}
.c_drdmenu{
min-width: 400px;
padding: 5px 5px;
}
/*header end*/
/*slider start*/
.slider{
background-image: url(../images/slider_img.jpg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 210px;
}
.s_text{}
.s_text h1{
margin-bottom: 45px;
font-family: 'lato', sans-serif;
font-size: 50px;
font-weight: 700;
color: #ffffff;
}
.s_text p{
margin-bottom: 50px;
color: #ffffff;
}
.c_s_btn{
margin-bottom: 210px;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
color: #333333;
background-color: #ffffff;
border-radius: 0;
transition: 0.5s ease;
}
.c_s_btn:focus{
box-shadow: none;
}
.c_s_btn:hover{
background-color: #8e8e8e;
color: #fff;
}
.arrow{
margin-left: 10px;
}
.c_icon{
background-image: none;
}
.ccn,.ccp{
width: 40px;
height: 40px;
top: auto;
bottom: 0;
opacity: 1;
align-items: flex-end;
color: #8e8e8e;
}
.ccn{
right: 515px;
}
.ccn:hover{
color: #333333;
}
.ccp{
width: 40px;
}
.ccp:hover{
color: #333333;
}
.custom_control:focus {  
     border-color: #8e8e8e; 
     box-shadow: none; 
}
/*slider end*/
/*service start*/
.service{
padding-bottom: 50px;
}
.c_title{}
.c_title h1{
margin-bottom: 45px;
font-family: 'Lato', sans-serif;
font-size: 30px;
font-weight: 400;
color: #333333;
text-transform: uppercase;
}
.straight{
margin-bottom: 20px;
width: 2px;
height: 35px;
background-color: #000;
display: inline-block;
}
.mtb{
margin-top: 30px;
margin-bottom: 130px;
}
.s_service{
padding: 70px 10px 40px;
text-align: center;
border: 1px solid #8e8e8e;
transition: 0.3s;
}
.s_icon{
margin: 0 auto;
margin-top: -91px;
width: 70px;
background-color: #fff;
}
.s_icon i{
font-size: 60px;
}
.s_service h2{
margin-top: 35px;
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 700;
color: #333333;
text-transform: uppercase;
}
.hifen{
margin: 0 auto;
margin-top: 15px;
margin-bottom: 15px;
width: 50px;
height: 1px;
background-color: #8e8e8e;
display: inline-block;
}
.s_service:hover{
color: #333333;
}
.s_service p{}
.s_service a{
padding: 10px 10px;
font-weight: 500;
color: #8e8e8e;
text-decoration: none;
text-transform: uppercase;
}
.s_service a span{
margin-left: 15px;
}
/*service end*/
/*about start*/
.about{
padding: 50px 0 130px 0;
}
.about_img{}
.about_img img{}
.about_text{}
.about_text h1{
margin-bottom: 30px;
font-family: 'Lato', sans-serif;
font-size: 30px;
font-weight: 400;
color: #333333;
text-transform: uppercase;
}
.about_text p{
margin-bottom: 30px;
}
.about_text a{}
.custom_a_btn{
padding-top: 13px;
padding-left: 0;
padding-right: 0;
width: 170px;
height: 50px;
border-radius: 0;
border: 1px solid #333333;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
color: #333333;
text-transform: uppercase;
transition: 0.3s;
}
.custom_a_btn:focus{
box-shadow: none;
}
.custom_a_btn:hover{
color: white;
background-color: #8e8e8e;
transform: scale(.9);
}
.about_text a span{}
.about_text a span i{}
/*about end*/
/*work start*/
.work{
padding-bottom: 90px;
background-color: rgba(220,220,220,.15);
}
.work_menu{}
.work_menu ul{}
.work_menu ul li{}
.work_menu ul li a{
text-transform: uppercase;
text-decoration: none;
border: 1px solid transparent;
color: #8e8e8e;
}
.work_menu ul li:hover a{
color: black;
border: 1px solid black;
}
.work_pic{
position: relative;
}
.work_pic img{
width: 100%;
opacity: 1;
}
.overlay{
position: absolute;
bottom: 0;
left: 0;
background: rgba(255, 255, 255, 1); /* Black see-through */
width: 100%;
transition: .5s ease;
opacity:0;
color: black;
font-size: 20px;
padding: 15px;
text-align: left;
z-index: 5;
transition: .3s;
}
.overlay h2{
margin: 0;
font-family: 'Lato', sans-serif;
font-size: 18px;
color: #333333;
text-transform: uppercase;
}
.overlay p{
margin: 0;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
color: #8e8e8e
}
.work_pic:hover .overlay {
opacity: 1;
}
.overlay_icon_bg{
position: absolute;
top: 0;
bottom: 0;
width: 100%;
opacity: 0;
transform: .3s;
}
.overlay_icon_bg span i{
position: absolute;
top: 27%;
left: 36%;
font-size: 50px;
transform: translate(50%, 50%);
-ms-transform: translate(50%, 50%);
color: white;
text-align: center;
}
.work_pic:hover .overlay_icon_bg {
background-color: rgba(0, 0, 0, .5);
opacity: 1;
}
/*work end*/
/*why nipro start*/
.choose_nipro{
padding-bottom: 52px;
}
.s_choose{
padding-bottom: 30px;
border-bottom: 1px solid #8e8e8e;
transition: .3s;
}
.s_choose:hover {
color: black;
}
.s_choose span i{
font-size: 48px;
}
.s_choose h2{
margin: 12px 0 0 0;
display: inline-block;
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 700;
}
.s_choose p{}
/*why nipro end*/
/*working person start*/
.work_p{
padding-bottom: 100px;
background-image: url(../images/work_p_bg.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.w_person{}
.w_person img{
width: 100%;
}
.w_person{
position: relative;
}
.img_text{
padding-top: 10px;
padding-bottom: 3px;
padding-left: 20px;
background-color: #fff;
}
.img_text h2{
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 700;
}
.img_text p{
margin: 0;
}
.social_i{
position: absolute;
top: 0;
left: 0;
padding: 5px 0;
width: 18%;
background-color: #fff;
text-align: center;
visibility: hidden;
opacity: 0;
transition: .3s;
}
.w_person:hover .social_i {
transform: translateY(40px);
visibility: visible;
opacity: 1;
z-index: 999;
}
.social_i ul{
margin-bottom: 0;
}
.social_i ul li{
border-right: 1px solid transparent;
transition: .3s;
}
.social_i ul li:hover {
border-right: 1px solid #333;
opacity: 1;
z-index: 9999;
}
.social_i ul li a{
padding-bottom: 1px;
color: #8e8e8e;
}
.social_i ul li a i{
padding: 8px 0;
width: 100%;
font-size: 26px;
}
.social_i ul li a i:hover{
color: #333;
}
/*working person end*/
/*pricing start*/
.pricing{
padding-bottom: 95px;
}
.price_box{
margin-top: 70px;
padding-left: 29px;
padding-bottom: 30px;
border: 1px solid;
}
.price_box:hover > a {
color: #333333;
}
.price-t{
margin-top: -10px;
margin-left: -7px;
margin-bottom: 20px;
}
.price-t h2 {
padding: 0 7px;
background: white;
display: inline-block;
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 700;
color: #333333;
text-transform: uppercase;
}
.price_box h3{
margin-bottom: 25px;
font-family: 'Lato', sans-serif;
font-size: 25px;
font-weight: 700;
color: #333333;
}
.price_box h3 span{
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 400;
color: #8e8e8e;
}
.benifit{}
.benifit ul{
margin-bottom: 30px;
}
.benifit ul li{
margin-bottom: 11px;
}
.price_box a{
width: 180px;
height: 40px;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
color: #8e8e8e;
display: flex;
align-items: center;
justify-content: center;
}
.price_box a:focus{
box-shadow: none;
}
.price_box a span{
margin-left: 15px;
}
/*pricing end*/
/*responsive template start*/
.responsive{
padding: 30px 0;
background-color: rgba(220,220,220,.14);
}
.r_text{
margin-top: 11px;
}
.r_text h1{
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 400;
color: #333333;
}
.b_button{
}
.b_button a{
width: 180px;
height: 40px;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
color: #8e8e8e;
display: flex;
align-items: center;
justify-content: center;
}
.b_button a:focus{
box-shadow: none;
}
.b_button a span{
margin-left: 15px;
}
/*responsive template end*/
/*testmonial start*/
.testimonial{
padding-top: 100px;
}
.t_carousel{
padding: 52px 56px;
}
.t_img{}
.t_img img{
width: 100%;
}
.t_text{}
.t_text h2{
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 700;
color: #333333;
}
.t_text h3{
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 400;
color: #333333;
}
.t_text p{
}
.t_btn{
width: 100%;
height: 100%;
}
.t_ccp,.t_ccn {
margin: 0 30px;
position: initial;
opacity: 1;
}
.t_icon{
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 500;
color: #8e8e8e;
margin-top: 90px;
background-image: none;
transform: rotate(90deg);
transition: 0.1s;
}
.t_icon:hover,.t_icon:focus{
	color: #000;
}
/*testmonial end*/
/*contact start*/
.contact{
padding-top: 100px;
padding-bottom: 100px;
}
.c_form{
padding-bottom: 35px;
border: 1px solid #8e8e8e;
}
.c_us{
margin-top: -18px;
}
.c_us h1 {
	margin: 0 auto;
	margin-left: 450px;
padding: 0 12px;
padding-bottom: 95px;
display: inline-block;
font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 400;
color: #333333;
background: white;
}
.custom_input{
padding-left: 20px;
border: none;
border-bottom: 1px solid #8e8e8e;
border-radius: 0;
}
.custom_input:focus {
box-shadow: none;
border-color: #000;
}
.custom_input:focus::placeholder{
color: black;
}
.t_custom{

}
.c_form a{
width: 180px;
height: 40px;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
color: #8e8e8e;
display: flex;
align-items: center;
justify-content: center;
}
.c_form a span{
	margin-left: 15px;
}
/*contact end*/
/*footer start*/
footer{
	background-image: url(../images/footer_bg.jpg);
	background-size: cover;
	background-repeat:no-repeat;
}   
.footer_top{
	padding-bottom: 95px;
}
.f_s_icon{}
.f_s_icon ul{}
.f_s_icon ul li{

}
.f_s_icon ul li a{
	padding-top: 10px;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	transition: .3s;
}
.f_s_icon ul li a:hover{
	background-color: #fff;
	color: #8e8e8e;
}
.f_s_icon ul li a i{
	display: flex;
	align-items: center;
	justify-content: center;
font-size: 26px;
}
.footer_bottom{
	padding: 35px 0;
	border-top: 1px solid #fff;
}
.f_b_link ul li a{
	color: #fff;
	text-decoration: none;
}
/*footer end*/